
  .header1{
    display: flex;
    font-variant: small-caps;
    padding: 15px;;
    justify-content: space-between;
  }
  .menu{
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header1 button{
    font-variant: small-caps;
    margin-top: 20px;
    color: white;
    /* height: 2.5rem; */
    background:transparent;
    font-size: 1.8rem;
    border: 3px solid orange;
    font-weight: 600;
    padding: 10px;
  }
  .logo{
    font-variant: small-caps;
    margin-top: 20px;
    color: white;
    text-shadow: 1px 1px 2px black;
    /* height: 2.5rem; */
    background:transparent;
    font-size: 1.8rem;
    border: 3px solid orange;
    font-weight: 600;
    padding: 10px;
  }
  .menu button {
      /* margin-top: 20px; */
      color: white;
      height: 2.5rem;
      font-size: 1rem;
      border:none;
      /* padding: 10px; */
  }
  .LogedInuser{
    border:1px solid  orange;
    height: 3rem;
    width: 3rem;
  }
  .menu button:hover{
    border: 1px solid orange;
  }
  
  .LogedInuser{
    background-color: orange;
    margin-top: 20px;
    margin-left: 15px;
    border-radius: 50%;
  }