.module-root{
   margin-top: 10rem;
  
  
   
}
.module-root-left{
    display: flex;
    padding-bottom: 10rem;
    width: 100%;
    
}
.module-root-right{
     display: flex;
    width: 100%;
}
.module-root-left button{
    border: 3px solid orange;
    background:transparent;
    background-color: white;
    color: orange;
    font-size: 1.5rem;
    border-radius: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 5rem;
    /* text-shadow: 1px 1px 2px rgb(58, 55, 55); */
}
.module-root-left-img1{
    height: 30rem;
    width: 25rem;
    margin-left:5rem;
   
}
.module-root-left-img2{
    height: 30rem;
    width: 25rem;
    margin-right:5rem;
   
}