.PgListContainer{
    display: flex;
    justify-content:space-evenly;
}
.UserDetail{
    display: flex;
    flex-direction: column;
}
.pgImg{
    height: 15rem;
    width: 15rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.adminDetail {
    margin-top: 2rem;
    margin-bottom: 2rem;
}